body {
    font-family: "Lato", sans-serif;
}

.staff-nav-container{
    background-color: #f4f4f4;

.sidenav {
    height: 100%;
    width:0 ;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 25px;
    transition: width 0.3s ease; /* Thay đổi hiệu ứng chuyển tiếp */

}

.sidenav.open {
    width: 250px;
}

/* Định dạng liên kết */
.sidenav a {
    padding: 10px 8px 20px 15px;
    text-decoration: none;
    color: #000000;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: black;
    font-weight: bold;
   
}



#main {
    transition: margin-left .5s;
    padding: 16px;
}

#main.shifted {
    margin-left: 250px;
}

.sidebar-header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom :10px !important;
}

.icon {
    padding-right: 10px;
}

}



@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

  

 