body {
    margin: 0;
}

.guest-header-container {
    width: 100%;
    font-family: 'Quicksand', Arial, sans-serif;
    position: sticky;
    top: 0;
    z-index: 100;

    .menu {
        width: 100%;
        background-color: #feecd9;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);

        a {
            color: #000000;
            margin: 0 10px;
            text-decoration: none;
            transition: 0.3s;
        }

        .brand-logo {
            color: #000000;
            font-family: 'Quicksand', Arial, sans-serif;
            font-size: 40px;
        }

        .desktop-menu-item {
            font-family: 'Quicksand', Arial, sans-serif;
            display: none;
        }

        .desktop-menu-item:hover {
            font-size: 18px;
            font-weight: bold;
        }

        .menu-icon {
            color: #000000;
            display: block;
        }
    }

    .drawer-list {
        background-color: #000000;
        color: #000000;
        width: 250px;
        text-decoration: none;
    }

    @media (min-width: 960px) {
        .menu {
            .desktop-menu-item {
                display: block;
            }

            .menu-icon {
                display: none;
            }
        }
    }
}