/* File: CustomerPOD/SWP391/src/HeaderFooter/Footer.css */

/* Footer styles */
.footer {
    background-color:#f4f4f4; /* Dark background */
    color: #3d3d3d; /* Light gray text */
    padding: 30px 0; /* Padding for the footer */
    font-family: 'Times New Roman', Times, serif; /* Thay đổi font chữ */
}

/* Footer container styles */
.footer-container {
    display: flex;
    
}

/* Footer content styles */
.footer-content {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Căn giữa các phần tử */
    padding: 16px; /* Optional: Add padding */
}

/* Individual section styles */
.about-us, .solution, .contact {
    flex: 1; /* Mỗi phần chiếm 1 phần */
    text-align: center; /* Căn giữa cho văn bản */
}



/* Text styles */
.footer-title
{
    margin-bottom: 20px;
font-size: 20px;
font-weight: bold;
}

/* List styles */
.type-list,
.contact-list {
    list-style-type: none;
    padding: 0;
}

.type-item,
.contact-item {
    margin-bottom: 8px;
    /* Space between list items */
}

/* Copyright styles */
.copyright {
    text-align: center;
    /* Center text */
    margin-top: 20px;
    /* Space above copyright */
}

.copyright-text {
    font-size: 14px;
    /* Font size for copyright text */
}

/* Link styles */
a {
    color: #38b2ac; /* Teal links */
    text-decoration: none; /* Remove underline */
}

a:hover {
    color: #81e6d9; /* Lighter teal on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Stack sections on smaller screens */
        align-items: center; /* Center items */
    }
}
