body {
    margin: 0;
}

.footer {
    color: #ffffff;
    background-color: #83999f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

.footer {

    .footer-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
    }

    .footer-container p {
        margin: 0;
    }

    .footer-brand {
        width: 100%;
        padding: 20px;
        /* border: 1px solid red; */
        text-align: center;
    }

    .footer-location {
        width: 100%;
        padding: 20px;
        /* border: 1px solid red; */
        text-align: center;
    }

    .footer-solution {
        width: 100%;
        padding: 20px;
        /* border: 1px solid red; */
        text-align: center;
    }

    .footer-end {
        background-color: #53737e;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .footer-end p {
        margin: 10px;
    }

    @media screen and (max-width: 768px) {
        .footer-container {
            flex-direction: column;
            align-items: center;
            max-width: 400px;
        }

        .footer-brand,
        .footer-location,
        .footer-contact {
            width: 100%;
            padding: 0 40px;
        }
    }
}