body {
    margin: 0;
}

.user-header {

    /* .menu {
        background-color: #53737e;
        font-family: 'Arial', sans-serif;
        transition: all 0.3s ease;
    }

    .menu ul {
        margin: 0 20px;
    }

    .menu a {
        text-decoration: none;
        font-weight: bold;
    }

    .brand-logo {
        font-weight: bold;
        margin: 0 20px;
    } */

    .menu {
        background-color: #53737e;
        transition: all 0.3s ease;
    }

    .menu a {
        text-decoration: none;
        color: #ffffff;
        margin: 0 10px;
        font-weight: bold;
        font-family: 'Arial', sans-serif;
    }

    .brandlogo {
        color: #ffffff;
    }

}