.body {
    margin: 0;
}

.user-header-container {
    padding: 0.8rem;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Quicksand', 'Arial', sans-serif;

    .search-bar {
        flex-grow: 1;
        position: relative;
    }

    .user-avatar {
        margin-right: 0.5rem;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    .user-info {
        text-align: end;

        .username {
            font-weight: bold;
        }

        .role {
            color: #6c757d;
        }
    }

}