body {
    margin: 0;
}

.user-control-center {

    .user-side-bar-container {
        width: 342px;
        height: auto;
        min-height: 90vh;
        background-color: #ffffff;
        margin: 0 0 10px;
        padding: 20px;
        border-right: 2px solid #cccccc;
    }

    .user-avatar img{
        width: 300px;
        width: 300px;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        display: block;
    }

    .btn {
        width: 100%;
        border: none;
        border-radius: 5px;
        background: #00a0ac;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 10px;
        transition: 0.5s;
    }

    .btn:active {
        background: #007f88;
    }
    
    .btn:hover,
    .btn:focus {
        background: #00a0ac;
    }

    p {
        margin: 5px 0;
    }
}