body {
    margin: 0;
}

.caro-container {
    width: 100%;
    min-height: 80vh;
    margin: 30px 0 100px;
    text-align: center;
    font-family: 'Quicksand', Arial, sans-serif;

    .header {
        h1 {
            margin: 0 0 20px;
            color: #d97720;
            font-size: 54px;
        }
    }

    .detail {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 10px;

        .support {
            display: flex;
            justify-content: center;
            gap: 10px;

            .btn {
                background-color: #fb8b24;
                font-weight: bold;
                border: none;
            }
        }

        .form-group {
            margin: 10px 0;

            .form-control:focus {
                box-shadow: 0 0 0 0.25rem rgba(251, 139, 36, 0.25);
                box-shadow: none;
                border-color: #cccccc;
            }

            .form-control {
                border-color: #cccccc;
            }

            .gamemode-option {
                font-weight: bold;
            }
        }

        .result {
            padding: 5px 4px;
            border-radius: 8px;

            h2 {
                margin: 0;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        table {
            display: block;
            justify-self: center;
            width: calc(var(--table-width) * 35)px;
            border-radius: 8px;
            overflow: hidden;

            tr {
                margin: 0;
                padding: 0;
                height: 35px;
                border: 1px solid #cccccc;

                .PutX:hover {
                    background-color: #ffa2aa;
                }

                .PutO:hover {
                    background-color: #80e8ff;
                }

                td {
                    margin: 0;
                    padding: 0;
                    width: 35px;
                    border: 1px solid #cccccc;

                    p {
                        margin: 0;
                        padding: 0;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .content {
            table {
                width: calc(var(--table-width) * 25)px;

                tr {
                    height: 25px;

                    td {
                        width: 25px;

                        p {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 576px) {
        .content {
            table {
                width: calc(var(--table-width) * 20)px;

                tr {
                    height: 20px;

                    td {
                        width: 20px;

                        p {
                            font-size: 9px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 440px) {
        .content {
            table {
                width: calc(var(--table-width) * 15)px;

                tr {
                    height: 15px;

                    td {
                        width: 15px;

                        p {
                            font-size: 7px;
                        }
                    }
                }
            }
        }
    }
}