body {
    margin: 0;
}

.minesweeper-container {
    width: 100%;
    min-height: 80vh;
    margin: 30px 0 100px;
    text-align: center;
    font-family: 'Quicksand', Arial, sans-serif;

    .header {
        h1 {
            margin: 0 0 20px;
            color: #d97720;
            font-size: 54px;
        }
    }

    .game-content {
        display: flex;
        justify-content: center;

        .game-detail {
            width: fit-content;
            min-width: 230px;
            height: auto;
            padding: 0 20px;

            .support {
                display: flex;
                justify-content: center;

                h3 {
                    width: 90px;
                    margin: 0 auto;
                    padding: 0 6px;
                }

                .btn {
                    margin: 0 6px;
                    background-color: #fb8b24;
                    font-weight: bold;
                    border: none;
                }
            }

            /* .dropdown-toggle {
                margin: 10px 0;
                background-color: #fdbc7f;
                font-weight: bold;
                border: none;
            } */

            .form-group {
                margin: 10px 0;

                .form-control:focus {
                    box-shadow: 0 0 0 0.25rem rgba(251, 139, 36, 0.25);
                    box-shadow: none;
                    border-color: #cccccc;
                }

                .form-control {
                    border-color: #cccccc;
                }

                .gamemode-option {
                    font-weight: bold;
                }

                .easy-mode {
                    color: #28a745;
                    background-color: #d3f9d8;
                }

                .normal-mode {
                    color: #ffc107;
                    background-color: #fff3cd;
                }

                .hard-mode {
                    color: #dc3545;
                    background-color: #fad7d9;
                }

                .test-mode {
                    color: #666666;
                    background-color: #eeeeee;
                }
            }

            .result-detail {
                margin: 0 4px;
                padding: 5px 4px;
                border-radius: 8px;

                h2 {
                    margin: 0;
                }
            }
        }

        table {
            display: block;
            justify-self: center;
            width: calc(var(--table-width) * 35)px;
            border-radius: 10px;
            overflow: hidden;

            tr {
                margin: 0;
                padding: 0;
                height: 35px;
                border: none !important;

                td {
                    margin: 0;
                    padding: 0;
                    width: 35px;
                    border: none !important;

                    p {
                        margin: 0;
                        padding: 0;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 992px) {
        .game-content {
            display: flex;
            flex-direction: column;
            align-items: center;

            .game-detail {
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .game-content {
            table {
                width: calc(var(--table-width) * 25)px;

                tr {
                    height: 25px;

                    td {
                        width: 25px;
                    }
                }
            }

        }
    }

    @media screen and (max-width: 576px) {
        .game-content {
            table {
                width: calc(var(--table-width) * 20)px;

                tr {
                    height: 20px;

                    td {
                        width: 20px;

                        p {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 440px) {

        .header {
            h1 {
                font-size: 42px;
            }
        }

        .game-content {
            table {
                width: calc(var(--table-width) * 15)px;

                tr {
                    height: 15px;

                    td {
                        width: 15px;
                    }
                }
            }
        }
    }
}