body {
    margin: 0;
}

.minesweeper-container {
    width: 100%;
    min-height: 60vh;
    margin: 20px 0 100px;
    text-align: center;
    font-family: 'Quicksand', Arial, sans-serif;

    .header {
        position: relative;

        h1 {
            font-size: 54px;
        }

        h3 {
            position: absolute;
            top: 20px;
            right: 400px;
        }

        .btn {
            background-color: #fb8b24;
            font-weight: bold;
            border: none;
            position: absolute;
            top: 20px;
            right: 50px;
        }

    }

    table {
        display: block;
        justify-self: center;
        width: calc(var(--table-width) * 35)px;
        /* height: calc(var(--table-height) * 35)px; */
        border: none !important;

        tr {
            margin: 0;
            padding: 0;
            height: 35px;
            border: none !important;

            td {
                margin: 0;
                padding: 0;
                background-color: lime;
                width: 35px;
                border: none !important;

                span {
                    margin: 0;
                    padding: 0;
                    font-weight: bold;
                }
            }
        }
    }
}