body {
    margin: 0;
}

.solvethemaze-container {
    width: 100%;
    min-height: 80vh;
    margin: 30px 0 100px;
    text-align: center;
    font-family: 'Quicksand', Arial, sans-serif;

    .header {
        h1 {
            margin: 0 0 20px;
            color: #d97720;
            font-size: 54px;
        }
    }

    .solvethemaze-content {
        display: flex;
        justify-content: center;

        table {
            display: block;
            justify-self: center;
            width: calc(var(--table-width) * 40)px;
            border-radius: 10px;
            overflow: hidden;

            tr {
                margin: 0;
                padding: 0;
                height: 35px;
                border: none !important;

                td {
                    margin: 0;
                    padding: 0;
                    width: 35px;
                    border: none !important;

                    p {
                        margin: 0;
                        padding: 0;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}