body {
    margin: 0;
}

@keyframes spin {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.object-container {
    width: 100%;
    min-height: 80vh;
    margin: 30px 0 100px;
    text-align: center;
    font-family: 'Quicksand', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;

    .scene-card {
        perspective: 1000px;

        .card:hover {
            transform: rotateY(180deg);
        }

        .card {
            width: 200px;
            height: 300px;
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.6s;

            .face {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
            }

            .front {
                background: lightblue;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
            }

            .back {
                background: lightcoral;
                transform: rotateY(180deg);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
            }
        }
    }

    .scene-cube {
        width: 200px;
        height: 200px;
        perspective: 600px;
        display: flex;
        justify-content: center;
        align-items: center;

        .cube {
            position: relative;
            width: 100px;
            height: 100px;
            transform-style: preserve-3d;
            animation: spin 10s linear infinite;

            .face {
                position: absolute;
                width: 100px;
                height: 100px;
                background: rgba(255, 0, 0, 0.5);
                border: 1px solid #000;
                opacity: 0.9;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            .front {
                transform: translateZ(50px);
            }

            .back {
                transform: rotateY(180deg) translateZ(50px);
            }

            .left {
                transform: rotateY(-90deg) translateZ(50px);
            }

            .right {
                transform: rotateY(90deg) translateZ(50px);
            }

            .top {
                transform: rotateX(90deg) translateZ(50px);
            }

            .bottom {
                transform: rotateX(-90deg) translateZ(50px);
            }
        }
    }

    .scene-pyramid {
        width: 200px;
        height: 200px;
        perspective: 800px;

        .pyramid {
            position: relative;
            width: 0;
            height: 0;
            transform-style: preserve-3d;
            transition: all 1s ease;
            transform: rotateX(-30deg) rotateY(80deg) rotateZ(10deg);
            animation: spin 5s linear infinite;

            .face {
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                opacity: 0.9;
                transition: all 1s ease;
            }

            .front {
                border-width: 86.6px 50px 0 50px;
                border-color: rgba(255, 0, 0, 0.5) transparent transparent transparent;
                transform: rotateY(0deg) translateX(0px) translateY(-20.8248px) translateZ(-28px) rotateX(160.52878deg);
            }

            .left {
                border-width: 86.6px 50px 0 50px;
                border-color: rgba(0, 128, 0, 0.5) transparent transparent transparent;
                transform: rotateY(-120deg) translateX(-12px) translateY(-20.8248px) translateZ(-7px) rotateX(160.52878deg);
            }

            .right {
                border-width: 86.6px 50px 0 50px;
                border-color: rgba(0, 0, 255, 0.5) transparent transparent transparent;
                transform: rotateY(120deg) translateX(12px) translateY(-20.8248px) translateZ(-7px) rotateX(160.52878deg);
            }

            .bottom {
                border-width: 86.6px 50px 0 50px;
                border-color: rgba(255, 255, 0, 0.5) transparent transparent transparent;
                transform: rotateX(90deg) translateZ(-20px);
            }
        }
    }
}