body {
    margin: 0;
}

@keyframes spin {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.object-container {
    width: 100%;
    min-height: 80vh;
    margin: 30px 0 100px;
    text-align: center;
    font-family: 'Quicksand', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;

    .scene-card {
        perspective: 1000px;

        .card:hover {
            transform: rotateY(180deg);
        }

        .card {
            width: 200px;
            height: 300px;
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.6s;

            .face {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
            }

            .front {
                background: lightblue;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
            }

            .back {
                background: lightcoral;
                transform: rotateY(180deg);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
            }
        }
    }

    .scene-cube {
        width: 300px;
        height: 300px;
        perspective: 600px;

        display: flex;
        justify-content: center;
        align-items: center;
        /* transform: scale(5); */

        .cube {
            position: relative;
            width: 100px;
            height: 100px;
            transform-style: preserve-3d;
            transition: all 1s ease;
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            animation: spin 10s linear infinite;

            .face {
                position: absolute;
                width: 100px;
                height: 100px;
                background: #007bff80;
                opacity: 0.9;
                transition: all 1s ease;

                border: 1px solid #000;
                box-shadow: 6px 6px 80px #007bff80;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            --Distance: 50px;

            .front {
                transform: translateZ(var(--Distance));
            }

            .back {
                transform: rotateY(180deg) translateZ(var(--Distance));
            }

            .left {
                transform: rotateY(-90deg) translateZ(var(--Distance));
            }

            .right {
                transform: rotateY(90deg) translateZ(var(--Distance));
            }

            .top {
                transform: rotateX(90deg) translateZ(var(--Distance));
            }

            .bottom {
                transform: rotateX(-90deg) translateZ(var(--Distance));
            }
        }
    }

    .scene-pyramid {
        width: 300px;
        height: 300px;
        perspective: 800px;

        display: flex;
        justify-content: center;
        align-items: center;
        /* transform: scale(5); */

        .pyramid {
            position: relative;
            width: 100px;
            height: 100px;
            transform-style: preserve-3d;
            transition: all 1s ease;
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            animation: spin 10s linear infinite;

            .face {
                position: absolute;
                width: 100px;
                height: 115.47px;
                background: #007bff80;
                opacity: 0.9;
                transition: all 1s ease;

                clip-path: polygon(50% 0%, 100% 75%, 0% 75%);

                display: flex;
                justify-content: center;
                align-items: center;
            }

            --Distance: 20.412px;
            --Angle: -70.529deg;

            .bottom {
                transform: rotateY(180deg) translateZ(var(--Distance));
                background-color: #ffff0080;
            }

            .front {
                transform: rotateX(var(--Angle)) translateZ(var(--Distance));
                background-color: #ff000080;
            }

            .left {
                transform: rotateZ(120deg) rotateX(var(--Angle)) translateZ(var(--Distance));
                background-color: #00800080;
            }

            .right {
                transform: rotateZ(-120deg) rotateX(var(--Angle)) translateZ(var(--Distance));
                background-color: #0000ff80;
            }
        }
    }

    .scene-octahedron {
        width: 300px;
        height: 300px;
        perspective: 800px;

        display: flex;
        justify-content: center;
        align-items: center;
        /* transform: scale(5); */

        .octahedron {
            position: relative;
            width: 100px;
            height: 100px;
            transform-style: preserve-3d;
            transition: all 1s ease;
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            animation: spin 10s linear infinite;

            .face {
                position: absolute;
                width: 100px;
                height: 115.47px;
                background: #ff000080;
                opacity: 0.9;
                transition: all 1s ease;

                clip-path: polygon(50% 0%, 100% 75%, 0% 75%);

                display: flex;
                justify-content: center;
                align-items: center;
            }

            .floor {
                position: absolute;
                width: 100px;
                height: 100px;
                background: #ff000080;
                opacity: 0.9;
                transition: all 1s ease;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            --Distance: 40.823px;
            --SubDistance: -7.735px;
            --Angle: -54.736deg;

            .f1 {
                transform: translateY(var(--SubDistance)) rotateZ(45deg) rotateX(var(--Angle)) translateZ(var(--Distance));
                background-color: rgba(255, 0, 0, 0.5);
            }

            .f2 {
                transform: translateY(var(--SubDistance)) rotateZ(135deg) rotateX(var(--Angle)) translateZ(var(--Distance));
                background-color: rgba(255, 165, 0, 0.5);
            }

            .f3 {
                transform: translateY(var(--SubDistance)) rotateZ(225deg) rotateX(var(--Angle)) translateZ(var(--Distance));
                background-color: rgba(255, 255, 0, 0.5);
            }

            .f4 {
                transform: translateY(var(--SubDistance)) rotateZ(315deg) rotateX(var(--Angle)) translateZ(var(--Distance));
                background-color: rgba(0, 128, 0, 0.5);
            }

            .f5 {
                transform: translateY(var(--SubDistance)) rotateZ(45deg) rotateX(calc(0deg - var(--Angle))) translateZ(calc(0px - var(--Distance)));
                background-color: rgba(0, 0, 255, 0.5);
            }

            .f6 {
                transform: translateY(var(--SubDistance)) rotateZ(135deg) rotateX(calc(0deg - var(--Angle))) translateZ(calc(0px - var(--Distance)));
                background-color: rgba(128, 0, 128, 0.5);
            }

            .f7 {
                transform: translateY(var(--SubDistance)) rotateZ(225deg) rotateX(calc(0deg - var(--Angle))) translateZ(calc(0px - var(--Distance)));
                background-color: rgba(255, 0, 255, 0.5);
            }

            .f8 {
                transform: translateY(var(--SubDistance)) rotateZ(315deg) rotateX(calc(0deg - var(--Angle))) translateZ(calc(0px - var(--Distance)));
                background-color: rgba(0, 255, 255, 0.5);
            }

            .fl1 {
                transform: rotateZ(45deg);
                background-color: rgba(31, 117, 173, 0.5);
            }

            .fl2 {
                transform: rotateX(90deg) rotateZ(45deg);
                background-color: rgba(192, 192, 192, 0.5);
            }

            .fl3 {
                transform: rotateY(90deg) rotateZ(-45deg);
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }

    .scene-dodecahedron {
        width: 300px;
        height: 300px;
        perspective: 800px;

        display: flex;
        justify-content: center;
        align-items: center;
        /* transform: scale(5); */

        .dodecahedron {
            position: relative;
            width: 100px;
            height: 100px;
            transform-style: preserve-3d;
            transition: all 1s ease;
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            animation: spin 10s linear infinite;

            .face {
                position: absolute;
                width: 100px;
                height: 95.106px;
                background: #ff000080;
                opacity: 0.9;
                transition: all 1s ease;

                clip-path: polygon(50% 0%, 100% 38.197%, 80.902% 100%, 19.098% 100%, 0% 38.197%);

                display: flex;
                justify-content: center;
                align-items: center;
            }

            --Distance: 68.7px;
            --SubDistance: -5.02px;
            --Angle: -116.565deg;

            .f1 {
                transform: rotateY(180deg) translateY(var(--SubDistance)) translateZ(var(--Distance));
                background-color: rgba(255, 0, 0, 0.5);
            }

            .f2 {
                transform: rotateX(var(--Angle)) translateY(var(--SubDistance)) translateZ(var(--Distance));
                background-color: rgba(255, 165, 0, 0.5);
            }

            .f3 {
                transform: rotateZ(72deg) rotateX(var(--Angle)) translateY(var(--SubDistance)) translateZ(var(--Distance));
                background-color: rgba(255, 255, 0, 0.5);
            }

            .f4 {
                transform: rotateZ(144deg) rotateX(var(--Angle)) translateY(var(--SubDistance)) translateZ(var(--Distance));
                background-color: rgba(0, 128, 0, 0.5);
            }

            .f5 {
                transform: rotateZ(216deg) rotateX(var(--Angle)) translateY(var(--SubDistance)) translateZ(var(--Distance));
                background-color: rgba(0, 0, 255, 0.5);
            }

            .f6 {
                transform: rotateZ(288deg) rotateX(var(--Angle)) translateY(var(--SubDistance)) translateZ(var(--Distance));
                background-color: rgba(128, 0, 128, 0.5);
            }

            .f7 {
                transform: rotateZ(180deg) translateY(var(--SubDistance)) translateZ(var(--Distance));
                background-color: rgba(255, 0, 255, 0.5);
            }

            .f8 {
                transform: rotateX(calc(180deg + var(--Angle))) translateY(var(--SubDistance)) translateZ(var(--Distance));
                background-color: rgba(0, 255, 255, 0.5);
            }

            .f9 {
                transform: rotateZ(72deg) rotateX(calc(180deg + var(--Angle))) translateY(var(--SubDistance)) translateZ(var(--Distance));
                background-color: rgba(231, 170, 170, 0.5);
            }

            .f10 {
                transform: rotateZ(144deg) rotateX(calc(180deg + var(--Angle))) translateY(var(--SubDistance)) translateZ(var(--Distance));
                background-color: rgba(31, 117, 173, 0.5);
            }

            .f11 {
                transform: rotateZ(216deg) rotateX(calc(180deg + var(--Angle))) translateY(var(--SubDistance)) translateZ(var(--Distance));
                background-color: rgba(192, 192, 192, 0.5);
            }

            .f12 {
                transform: rotateZ(288deg) rotateX(calc(180deg + var(--Angle))) translateY(var(--SubDistance)) translateZ(var(--Distance));
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }

    .scene-icosahedron {
        width: 300px;
        height: 300px;
        perspective: 800px;

        display: flex;
        justify-content: center;
        align-items: center;
        /* transform: scale(5); */

        .icosahedron {
            position: relative;
            width: 100px;
            height: 100px;
            transform-style: preserve-3d;
            transition: all 1s ease;
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            animation: spin 10s linear infinite;

            .face {
                position: absolute;
                width: 100px;
                height: 115.47px;
                background: #ff000080;
                opacity: 0.9;
                transition: all 1s ease;

                clip-path: polygon(50% 0%, 100% 75%, 0% 75%);

                display: flex;
                justify-content: center;
                align-items: center;
            }

            --Distance: 75.577px;
            --Angle: -37.377deg;

            .f1 {
                transform: rotateZ(0deg) rotateX(var(--Angle)) translateZ(var(--Distance));
                background-color: rgba(255, 0, 0, 0.5);
            }

            .f2 {
                transform: rotateZ(72deg) rotateX(var(--Angle)) translateZ(var(--Distance));
                background-color: rgba(255, 165, 0, 0.5);
            }

            .f3 {
                transform: rotateZ(144deg) rotateX(var(--Angle)) translateZ(var(--Distance));
                background-color: rgba(255, 255, 0, 0.5);
            }

            .f4 {
                transform: rotateZ(216deg) rotateX(var(--Angle)) translateZ(var(--Distance));
                background-color: rgba(0, 128, 0, 0.5);
            }

            .f5 {
                transform: rotateZ(288deg) rotateX(var(--Angle)) translateZ(var(--Distance));
                background-color: rgba(0, 0, 255, 0.5);
            }

            .f6 {
                transform: rotateZ(36deg) rotateX(calc(41.81deg - var(--Angle))) translateZ(var(--Distance));
                background-color: rgba(128, 0, 128, 0.5);
            }

            .f7 {
                transform: rotateZ(108deg) rotateX(calc(41.81deg - var(--Angle))) translateZ(var(--Distance));
                background-color: rgba(255, 0, 255, 0.5);
            }

            .f8 {
                transform: rotateZ(180deg) rotateX(calc(41.81deg - var(--Angle))) translateZ(var(--Distance));
                background-color: rgba(0, 255, 255, 0.5);
            }

            .f9 {
                transform: rotateZ(252deg) rotateX(calc(41.81deg - var(--Angle))) translateZ(var(--Distance));
                background-color: rgba(231, 170, 170, 0.5);
            }

            .f10 {
                transform: rotateZ(324deg) rotateX(calc(41.81deg - var(--Angle))) translateZ(var(--Distance));
                background-color: rgba(31, 117, 173, 0.5);
            }

            .f11 {
                transform: rotateZ(36deg) rotateX(calc(-138.19deg - var(--Angle))) translateZ(var(--Distance));
                background-color: rgba(192, 192, 192, 0.5);
            }

            .f12 {
                transform: rotateZ(108deg) rotateX(calc(-138.19deg - var(--Angle))) translateZ(var(--Distance));
                background-color: rgba(0, 0, 0, 0.5);
            }

            .f13 {
                transform: rotateZ(180deg) rotateX(calc(-138.19deg - var(--Angle))) translateZ(var(--Distance));
                background-color: rgba(255, 105, 180, 0.5);
            }

            .f14 {
                transform: rotateZ(252deg) rotateX(calc(-138.19deg - var(--Angle))) translateZ(var(--Distance));
                background-color: rgba(255, 215, 0, 0.5);
            }

            .f15 {
                transform: rotateZ(324deg) rotateX(calc(-138.19deg - var(--Angle))) translateZ(var(--Distance));
                background-color: rgba(0, 100, 0, 0.5);
            }

            .f16 {
                transform: rotateZ(0deg) rotateX(calc(180deg + var(--Angle))) translateZ(var(--Distance));
                background-color: rgba(0, 255, 0, 0.5);
            }

            .f17 {
                transform: rotateZ(72deg) rotateX(calc(180deg + var(--Angle))) translateZ(var(--Distance));
                background-color: rgba(0, 255, 255, 0.5);
            }

            .f18 {
                transform: rotateZ(144deg) rotateX(calc(180deg + var(--Angle))) translateZ(var(--Distance));
                background-color: rgba(128, 128, 128, 0.5);
            }

            .f19 {
                transform: rotateZ(216deg) rotateX(calc(180deg + var(--Angle))) translateZ(var(--Distance));
                background-color: rgba(218, 218, 218, 0.5);
            }

            .f20 {
                transform: rotateZ(288deg) rotateX(calc(180deg + var(--Angle))) translateZ(var(--Distance));
                background-color: rgba(0, 0, 128, 0.5);
            }
        }
    }
}