body {
    margin: 0;
}

.whatisthepassword-container {
    width: 100%;
    min-height: 80vh;
    margin: 30px 0 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        h1 {
            margin: 0 0 20px;
            color: #d97720;
            font-size: 54px;
        }

        h2 {
            color: #d97720;
            font-size: 32px;
        }
    }

    .whatisthepassword-box {
        width: 100%;
        max-width: 600px;
        padding: 0 10px;
        font-family: 'Quicksand', Arial, sans-serif;

        .result {
            margin: 0 0 20px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            h2 {
                margin: 0 0 4px;
            }
        }

        form {
            width: 100%;
            margin: 0 0 10px;
            display: flex;
            justify-content: center;
            gap: 10px;

            .form-control:focus {
                box-shadow: 0 0 0 0.25rem rgba(251, 139, 36, 0.25);
                border-color: #fdbc7f;
            }

            .form-group {
                width: 100%;
                min-width: 120px;
            }

            .btn {
                background-color: #fb8b24;
                font-weight: bold;
                border: none;
            }

            .btn-reset {
                background-color: #fdbc7f;
            }

            .btn:active {
                background-color: #d97720;
            }
        }

        .error-message {
            color: #dc3545;
        }

        .content {
            display: flex;
            justify-content: center;

            table {
                width: 100%;

                thead {
                    tr {
                        th {
                            vertical-align: top;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            align-items: center;
                        }
                    }
                }
            }
        }

        .detail {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            form {
                width: 100%;
                margin: 20px 0 10px;
                display: flex;
                flex-direction: column;
                align-items: start;

                .form-label {
                    margin: 0;
                }
            }

            .active-button {
                display: flex;
                justify-content: center;
                gap: 10px;

                .btn {
                    background-color: #fb8b24;
                    font-weight: bold;
                    border: none;
                }

                .btn-giveup {
                    background-color: #bb5e07;
                }
            }
        }
    }
}