.container {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* Nền trắng với độ trong suốt */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid grey;
}
.ant-table-cell {
    border-bottom: 0.5px solid rgb(201, 197, 197) !important;
}
.ant-modal-body {
    padding: 20px !important;
    background-color: #FAFBFB;
}