body {
    margin: 0;
}

.user-signin-signup {
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', 'Arial', sans-serif;
    transition: all 0.3s ease;

    .signin-signup-container {
        height: 600px;
        margin: 100px 10px 180px;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        .card-box {
            width: 800px;
            height: 600px;
            display: flex;
            position: relative;

            .card-body {
                flex: 1;
                width: 50%;
                height: 600px;
                padding: 40px;
                margin: 0;

                .title {
                    font-weight: bold;
                    margin: 0 0 30px;
                    display: flex;
                    justify-content: center;
                }

                .form-box {
                    position: relative;

                    .form-input {
                        margin: 5px 0 5px 40px;

                        .icon {
                            margin: 10px 0;
                            left: 0;
                            position: absolute;
                        }

                        .dobble-icon {
                            margin: 10px 0;
                            left: -8px;
                            position: absolute;
                        }

                        input {
                            width: 100%;
                            margin: 0;
                            box-sizing: border-box;
                            outline: none;
                        }

                        input:focus {
                            box-shadow: 0 0 0 0.25rem rgba(251, 139, 36, 0.25);
                            border-color: #fdbc7f;
                        }
                    }

                    .accept-box {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        a {
                            padding: 0 5px;
                            border-radius: 5px;
                            color: #666666;
                            border: 1px solid #cccccc;
                            text-decoration: none;
                            cursor: pointer;
                        }

                        .form-check {
                            padding: 0;
                            margin: 5px 0;
                            display: flex;
                            justify-content: end;
                            align-items: center;

                            input {
                                margin: 0 5px;
                                border-color: #fdbc7f;
                            }

                            input:focus {
                                box-shadow: 0 0 0 0.25rem rgba(251, 139, 36, 0.25);
                            }

                            .form-check-input:checked {
                                background-color: #fb8b24;
                                border-color: #fb8b24;
                            }

                            label {
                                color: #d97720;
                                font-weight: bold;
                            }
                        }
                    }

                    .error-message {
                        color: #dc3545;
                    }

                    .success-message {
                        color: #28a745;
                    }

                    a.forget-link {
                        color: #ffc107;
                        display: flex;
                        justify-content: end;
                        text-decoration: none;
                    }

                    .forget-link:hover {
                        color: #dba506;
                    }
                }
            }

            .movingImage {
                width: 50%;
                height: 100%;
                background: url('../../BackgroundImage/24.jpg') center;
                position: absolute;
                right: 0;
                transition: all 0.5s ease;
            }

            .btn,
            .btn:focus {
                width: 100%;
                color: #ffffff;
                background-color: #fdbc7f;
                margin: 10px 0;
                border: none;
                border-radius: 5px;
                font-weight: bold;
            }

            .form-box {

                .btn-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                button[type="submit"] {
                    width: 65%;
                    background-color: #fb8b24;
                }

                button[type="reset"] {
                    width: 30%;
                    background-color: #feecd9;
                }

                .btn:hover {
                    background-color: #fb8b24;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {

        .movingImage {
            display: none;
        }

        .card-disappear {
            display: none;
        }
    }
}