body {
    margin: 0;
}

.user-booking {
    width: 100%;
    padding: 20px;
    margin: 0 0 160px;
    background-color: #ffffff;
    font-family: 'Quicksand', 'Arial', sans-serif;

    .booking-date-filter {
        width: 100%;

        .search {
            margin: 0 0 20px;
            display: flex;
            align-items: end;

            .form-group {
                margin: 0 10px 0 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .btn,
            .btn:focus {
                margin: 0 10px 0 0;
                color: #ffffff;
                background-color: #fb8b24;
                font-weight: bold;
                border: none;
                border-radius: 7px;
            }

            .btn:hover {
                color: #ffffff;
                background-color: #d97720;
            }

            .btn-reset,
            .btn-reset:focus {
                background-color: #fdbc7f;
            }
        }
    }

    .booking-row {
        margin: 0;

        .booking-col {
            padding: 0;
            display: flex;
            justify-content: center;

            .booking-card {
                width: 80%;
                margin: 0 0 20px;
                padding: 0 0 0 20px;
                background-color: #ffffff;
                border-radius: 15px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                border: 1px solid #cccccc;
                display: flex;
                overflow: hidden;

                .booking-card-container {
                    width: 95%;

                    p {
                        margin: 0;
                    }

                    .booking-card-header {
                        border-bottom: 1px solid #cccccc;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        h4 {
                            margin: 10px;
                        }

                        p {
                            margin: 10px;

                            span {
                                padding: 0 5px;
                                margin: 3px 5px;
                                border: 1px solid #eeeeee;
                                border-radius: 5px;
                                text-align: center;
                            }
                        }
                    }

                    .booking-card-body {
                        background-color: #ffffff;
                        height: 240px;
                        transition: all 0.3s ease;
                        display: flex;

                        .card-image {
                            width: 25%;
                            padding: 10px;

                            img {
                                width: 100%;
                                height: 220px;
                                border-radius: 10px;
                                object-fit: cover;
                                object-position: center;
                                display: block;
                            }
                        }

                        .card-detail {
                            width: 75%;
                            padding: 10px;
                            display: flex;
                            justify-content: space-between;
                            overflow: hidden;

                            .card-information {

                                .booking-id {
                                    margin: 0 0 5px;
                                }

                                .card-rating {
                                    display: flex;
                                    align-items: end;
                                }
                            }

                            .card-datetime-amount {
                                width: 60%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;

                                .card-datetime {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    text-align: center;

                                    h5 {
                                        margin: 20px 0 8px;
                                    }

                                    .slot-name {
                                        width: 100%;
                                        display: flex;
                                        justify-content: center;

                                        .col {
                                            padding: 0;
                                            margin: 1px;
                                            border: 1px solid #cccccc;
                                            border-radius: 5px;
                                            text-align: center;
                                        }
                                    }
                                }

                                .card-amount {
                                    text-align: right;

                                    h2 {
                                        margin: 10px;
                                    }

                                    span {
                                        color: #ee4f2e;
                                    }
                                }
                            }
                        }
                    }
                }

                a {
                    width: 5%;
                    height: 100%;
                    color: #000000;
                    border-left: 1px solid #cccccc;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    align-self: center;

                    i {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}