body {
    margin: 0;
}

.POD-booking-pod {
    width: 100%;
    height: auto;
    min-height: 70vh;
    background-color: #ffffff;
    font-family: 'Quicksand', 'Arial', sans-serif;
}

.POD-booking-pod {

    .search-container {
        width: 100%;
        background-color: #fafafa;
        position: sticky;
        top: 0;
    }

    .search {
        display: flex;
        align-items: center;
        padding: 20px 10px;

        .search-title {
            margin-right: 10px;
        }
    }

    .form-group {
        padding: 0 10px 0 0;
    }

    .form-input {
        width: 250px;
    }

    /* .booking-pod-container {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        transition: all 0.3s ease;
    } */

    .list-header {
        width: 100%;
        height: 50px;
        background-color: #ffffff;
        position: sticky;
        top: 78px;

        th {
            background-color: #f5f5f5;
        }
    }

    .list-index {
        text-align: center;
        width: 5%;
    }

    .list-item {

        p {
            margin: 0;
        }

        img {
            width: 240px;
            height: 150px;
            border-radius: 10px;
            object-fit: cover;
            object-position: center;
            display: block;
        }
    }

    .btn,
    .btn:focus {
        color: #ffffff;
        background-color: #28a745;
        font-weight: bold;
        border: none;
        border-radius: 7px;
    }

    .btn:hover {
        color: #ffffff;
        background-color: #22913c;
    }

    /* .image-row {
        margin: 30px 0;
        width: 100%;
        max-width: 1500px;
        height: auto;
    }

    .image-col {
        display: flex;
        justify-content: center;
    }

    .image-card {
        width: 320px;
        height: 300px;
        margin-bottom: 20px;
        background-color: #ffffff;
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 6px #6666664d;
        overflow: hidden;
        align-items: center;
        text-align: center;
        transition: all 0.3s ease;
    }

    .image-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 6px 12px #6666664d;
    }

    .image-card img {
        width: 320px;
        height: 180px;
        object-fit: cover;
        object-position: center;
        display: block;
    }

    .rating {
        padding: 0 5px;
        background-color: #00000060;
        border-radius: 0 4px 0 0;
        position: absolute;
        left: 0;
        top: 147px;
    }

    .capacity {
        color: #ffffff;
        background-color: #00000060;
        border-radius: 4px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 156px;
    }

    .capacity-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-body {
        width: 100%;

        p {
            margin: 0;
        }

        .full-detail {
            display: flex;
            justify-content: space-between;
        }

        .short-detail {
            display: block;
            text-align: start;
        }

        .active-button {
            display: block;
            text-align: end;
        }

        .btn {
            color: #ffffff;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn:active {
            background-color: #ffffff;
            color: #000000;
        }
    } */

}