body {
    margin: 0;
}

.POD-booking-store-detail {
    width: 100%;
    background-color: #ffffff;
    font-family: 'Quicksand', 'Arial', sans-serif;
}

.POD-booking-store-detail {

    .store-detail-container {
        width: 100%;
        padding: 40px;
        display: flex;
        justify-content: start;

            img {
                width: 30vw;
                height: 20vw;
                box-shadow: 0 4px 6px #6666664d;
                border: 1px solid #cccccc;
                border-radius: 10px;
                object-fit: cover;
                object-position: center;
                display: block;
            }

        .store-detail {
            width: 70%;
            padding: 0 20px;

            p {
                margin: 0;
            }
        }
    }

    .btn,
    .btn:focus {
        color: #ffffff;
        background-color: #28a745;
        font-weight: bold;
        border: none;
        border-radius: 7px;
    }

    .btn:hover {
        color: #ffffff;
        background-color: #22913c;
    }

}