/* src/ManageStoreComponent/style.css */
.admin-store-container {
    max-width: 100%;
    margin: 20px;

    .title-store {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .store-img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
        display: block;
    }

    .store-card {
        padding: 20px;
        height: auto;
    }

    form {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
     
    }
    label {
        display: block; 
        margin-bottom: 5px; 
        font-weight: bold; 
    }

    .back-button{
        display: flex;
        justify-content: space-between;
    }
    .col-md-4{
        margin-bottom: 10px;
    }

    .admin-edit-button{
        background-color: transparent;
        border: none;
        padding: 5px 10px;
        margin: 0 auto;
    }


}

/* .admin-store-container{
.store-img {
    width: 100%;
    height: 500px;
    object-fit: cover; 
    object-position: center;
    display: block;
}

.store-card{
padding:20px;
height: 99%;
}
}

@media screen and (max-width: 768px) {
    .card-img-top {
        height: auto; 
    }
}

.admin-store-container{
form {
    max-width: 400px; 
    margin: 15px auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    background-color: #f9f9f9; 
}

label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
}

input {
    width: 100%; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.add-link:hover {
    background-color: #d1ddea; 
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

div.card-body{
    padding: 10px 0 0 0;
}

.title-store{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5px;
}

} */