body {
    margin: 0;
}

.POD-home {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
    position: relative; 
}

.header-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    position: relative; 
    filter: brightness(40%);
}

div.overlay {
    position: absolute; 
    color: white; 
    margin-top: 20%;
    margin-left: 3%;
    color: white;
    text-align: center;
}

.hello-customers {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.intro-text-1 {
    font-size: 2.2rem;
    font-family: 'Times New Roman', Times, serif;
}

.intro-text-2 {
    font-size: 1rem;
    font-family:monospace;
}
div.shortcut-booking-pod{
    display: flex;
    justify-content: center;    
    
}


.section-title {
    text-align: center;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #484848;
    font-size: 2rem;
}

div.image-row.row{
    justify-content: center;
    width: 89%;

}

.card-title{
    font-family: Cambria,  Cochin, Georgia, Times, 'Times New Roman', serif
}

.card-info{
    font-family: 'Times New Roman', Times, serif;
    color: #666666;
    line-height: 1.5; /* Khoảng cách giữa các dòng */
}

.yellow-star{
    color: gold;
}

.price{
  color: #ef5939;
    font-weight: bold; /* Đậm chữ */
    display: inline-block; /* Để nó chỉ chiếm không gian cần thiết */
    position: relative; /* Để có thể sử dụng pseudo-element */
    font-size: 1.2rem;
    margin-top: 10px;
}

.image-col {
    margin-bottom: 20px;
    border-radius: 8px;
    position: relative;

}

.carousel {
    position: relative;
    width: 90%; /* Đảm bảo carousel chiếm toàn bộ chiều rộng */
    overflow: hidden; /* Ẩn các phần hình ảnh tràn ra ngoài */
}

.carousel img {
    width: 100%; /* Đảm bảo hình ảnh chiếm toàn bộ chiều rộng của carousel */
    height: auto; /* Giữ tỷ lệ khung hình của hình ảnh */
    object-fit: cover; /* Đảm bảo hình ảnh không bị biến dạng */
    filter: brightness(40%);
}

.carousel-item {
    transition: transform 0.5s ease; /* Thêm hiệu ứng chuyển động mượt mà */
}



.carousel-caption {
    
    padding: 10px; /* Khoảng cách bên trong */
    border-radius: 5px; /* Bo góc */
    position: absolute;
    
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h5{
        color: white;
        font-size: 1.5rem;
        font-family: 'Courier New', Courier, monospace;

    }
    p{
        color: white;
        font-family: 'Times New Roman', Times, serif;

    }
    
}
.carousel-text{
    padding: 10px; /* Khoảng cách bên trong */
border-radius: 5px; /* Bo góc */
text-align: center; /* Căn giữa chữ */
display: flex; /* Sử dụng flexbox */
flex-direction: column; /* Sắp xếp theo chiều dọc */
justify-content: center; /* Căn giữa chiều dọc */
align-items: center; 
}

span.carousel-control-prev,
span.carousel-control-next {
    border-radius: 50%;
    color: white;
    background-color: rgb(255, 255, 255);
}
.carousel-control-prev {
    left: 10px; /* Đặt nút Previous ở bên trái */

}

.carousel-control-next {
    right: 10px; /* Đặt nút Next ở bên phải */
}


/* 
.shortcut-booking-pod {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.section-title {
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    color: #333; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.image-row {
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.image-col {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
   
text-align: center;

}


.image-card {
    display: flex; 
    flex-direction: column; 
    height: auto; 
    overflow: auto; 
    border: none; 
    border-radius: 10px; 
    overflow: hidden;
    transition: transform 0.3s;
}

.image-card:hover {
    transform: scale(1.05);
}

.pod-image {
    width: 100%; 
    height: auto; 
}

.star-rating {
text-align: left; 

}

.yellow-star {
    color: gold; 
}

.capacity {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0; 
}

.card-body {
    padding: 15px;
    text-align: center; 
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px; 
}

.card-info {
    font-size: 0.9em;
    color: #666;
}





.active-button {
    display: block;
    text-align: end;
}

.btn {
    background-color: #28a745; 
    color: white;
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    transition: background-color 0.3s; 
}

.btn:hover {
    background-color: #218838; 
}

.submit {
    background-color: #00cdd4;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 10px 0;
    cursor: pointer;
}

.submit:active {
    background-color: #00cdd4;
}

.shortcut-contact {
    width: 100%;
    background-color: #eeefe9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.card-contact {
    margin: 0 0 100px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contact-image {
    width: 400px;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
}

.card-form {
    height: 100%;
    background-color: #ffffff;
    padding: 40px;
    text-align: center;
    transition: all 0.3s ease;
}

.card-form h1 {
    color: #000000;
    font-weight: bold;
}

.card-form p {
    color: #666666;
}

.input {
    background-color: transparent;
    transition: all 0.3s ease;
}

.submit {
    background-color: #00cdd4;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 10px 0;
    cursor: pointer;
}

.submit:active {
    background-color: #00cdd4;
}

.intro-text {
    color: white;
    max-width: 100%;
    border-radius: 10px;
    text-align: center;
    margin-top: 10%;

}

.hello-customers {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace
}

.intro-text h1 {
    font-size: 3.2rem;
    font-family: 'Times New Roman', Times, serif;
}

.intro-text p {
    font-size: 1.2rem;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.intro-text .btn {
    margin-top: 15px;
}

.overlay {
    position: absolute; 
    color: white; 
    margin-top: 10%;
    margin-left: 3%;
    
}

@media (max-width: 768px) {
    .intro-text {
        max-width: 70%;
    }
}

h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    text-align: left;
}

.short-detail {
    display: block;
    text-align: start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 */

.carousel-item {
    padding: 20px; /* Thêm khoảng cách giữa các item */
}

.image-col {
    display: flex;
    justify-content: center;
    align-items: center;
}
