.admin-slot-detail-container{
    padding: 20px;
    .admin-slot-title{
        display: flex;
        justify-content: space-between;
    }
    .slot-button{
        background-color: transparent;
        color: black;
        border: none;
    }
}

.admin-slot-container{
    padding: 20px;
    form {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
     
    }
    .back-button{
        display: flex;
        justify-content: space-between;
    }
  
}
