body {
    margin: 0;
}

.POD-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand', 'Arial', sans-serif;
    position: relative;

    /* .video-container video {
        width: 100%;
        height: auto;
    } */

    .video-container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;

        h1 {
            width: 50%;
            font-size: 50px;
            text-align: center;
        }

        p {
            width: 36%;
            font-size: 20px;
            text-align: center;
        }

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            opacity: 0.5;
        }
    }

    /* .slogan-container {
        width: 70%;
        padding: 15px;
        background-color: #dfdfdf;
        border-radius: 10px;
        text-align: center;
        position: absolute;
        top: 46vw;
    } */

    .about-container {
        width: 90%;
        max-width: 1000px;
        margin: 160px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .introduction-container {
            width: 100%;
            margin: 0 0 40px;
            background-color: #f9f9f9;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            .introduction-solution {
                width: 60%;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;

                h5 {
                    width: 90%;
                    text-align: center;
                }

                img {
                    width: 100%;
                    margin: 20px;
                    border-radius: 20px;
                }
            }

            .introduction-convenient {
                width: 40%;
                padding: 20px;
            }
        }

        .reason-container {
            width: 100%;
            height: 800px;
            margin: 0 0 40px;
            background-color: #f9f9f9;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            overflow: hidden;
            display: flex;

            img {
                height: 100%;
                width: 50%;
                object-fit: cover;
                object-position: center;
                display: block;
            }

            .reason-item {
                height: 240px;
                background-color: #feecd9;
                border-radius: 10px;
                margin: 20px;
                padding: 15px;
            }
        }

        .community-container {
            width: 100%;
            margin: 0 0 40px;
            background-color: #f9f9f9;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            overflow: hidden;
            display: flex;
            align-self: center;

            img {
                width: 50%;
                object-fit: cover;
                object-position: center;
                display: block;
            }

            .community-text {
                padding: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .ready-container {
        width: 100%;
        padding: 40px;
        background-color: #feecd9;
        border-bottom: 1px solid #ffddb9;
        display: flex;
        justify-content: center;
        align-items: center;

        .ready-text {
            width: 40%;
        }

        .booking-button {
            width: 30%;
            display: flex;
            justify-content: center;
        }

        .btn,
        .btn:focus {
            color: #ffffff;
            background-color: #fb8b24;
            font-weight: bold;
            border: none;
            border-radius: 7px;
        }

        .btn:hover {
            color: #ffffff;
            background-color: #d97720;
        }
    }
}