body {
    margin: 0;
}

.POD-booking-pod-detail {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', 'Arial', sans-serif;
}

.POD-booking-pod-detail {

    .booking-pod-detail-container {
        width: 90%;
        max-width: 1400px;
        margin: 20px 0 0;

        .image-detail {
            height: 40vw;
            background-color: #ffffff;
            padding: 10px 0 0 10px;
            margin: 0 0 40px;
            box-shadow: 0 4px 6px #6666664d;
            border-radius: 15px;
            display: flex;

            .image-detail-pod {
                width: 60%;
                height: 100%;
                padding: 0 10px 10px 0;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                    object-position: center;
                    display: block;
                }
            }

            .image-detail-2 {
                width: 40%;
                height: 100%;

                .image-detail-2-item-store {
                    width: 100%;
                    height: 50%;
                    padding: 0 10px 10px 0;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        object-fit: cover;
                        object-position: center;
                        display: block;
                    }
                }

                .image-detail-2-item-utility {
                    display: inline-flex;
                    width: calc(100% / (var(--available-utilities-slice)));
                    height: calc(50% / ((var(--available-utilities-length))));
                    padding: 0 10px 10px 0;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        object-fit: cover;
                        object-position: center;
                        display: block;
                    }
                }
            }
        }

        .detail-container {
            display: flex;
            justify-content: center;

            .short-detail {
                width: 60%;

                h4 {
                    margin: 30px 0 10px;
                }

                .favorite {
                    padding: 20px 0;
                    background-color: #ffffff;
                    border-radius: 10px;
                    border: 1px solid #cccccc;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .favorite-title {
                        width: 35%;

                        h3 {
                            margin: 0;
                        }
                    }

                    .favorite-text {
                        width: 40%;

                        p {
                            margin: 0;
                        }
                    }

                    .favorite-rating {
                        width: 25%;
                    }
                }

                .utility-container {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 20px 0;

                    p {
                        margin: 0;
                    }

                    .icon {
                        width: 20px;
                        margin: 0 10px;
                        display: inline-flex;
                        justify-content: center;
                    }
                }
            }

            .payment-card {
                width: 40%;
                display: flex;
                justify-content: end;

                .card {
                    width: 90%;
                    height: auto;
                    padding: 30px 20px;
                    background-color: #ffffff;
                    box-shadow: 0 4px 6px #6666664d;
                    border-radius: 10px;
                    border: 1px solid #cccccc;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .payment-card-title {
                        width: 100%;
                        padding: 5px;
                        color: #ffffff;
                        background-color: #fb8159;
                        border-radius: 5px;

                        h1 {
                            margin: 0;
                            text-align: center;
                        }
                    }

                    .form-card {
                        width: 80%;
                        margin: 20px 0 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .form-group {
                            width: 100%;
                            margin: 0 0 10px;

                            .col {
                                padding: 0;
                            }
                        }
                    }

                    .btn,
                    .btn:focus {
                        width: 200px;
                        color: #ffffff;
                        background-color: #fb8b24;
                        font-weight: bold;
                        margin: 20px 0;
                        border: none;
                        border-radius: 7px;
                    }

                    .btn:hover {
                        color: #ffffff;
                        background-color: #d97720;
                    }
                }
            }
        }

        .big-rating {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;

            h1 {
                font-size: 150px;
            }

            p {
                color: #999999;
                width: 500px;
                text-align: center;
            }
        }

        .overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            transition: opacity 500ms;
            visibility: hidden;
            opacity: 0;
        }

        .overlay:target {
            visibility: visible;
            opacity: 1;
        }

        .popup {
            width: 90%;
            height: 80vh;
            margin: 100px auto;
            padding: 20px 20px;
            background: #ffffff;
            border-radius: 15px;
            position: relative;
            transition: all 1s ease-in-out;
            display: flex;
            justify-content: center;

            img {
                width: 50%;
                height: 100%;
                border-radius: 10px;
                object-fit: cover;
                object-position: center;
                display: block;
            }

            .confirm-information {
                width: 50%;
                padding: 0 20px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                h2 {
                    margin: 10px 0 10px;
                }

                span {
                    color: #fb8159;
                }

                h4 {
                    margin: 10px 0 0;
                }

                p {
                    margin: 0;
                }

                .row-slot {
                    width: 100%;
                    margin: 0;
                    display: flex;
                    justify-content: center;

                    .col {
                        padding: 0;
                    }
                }

                .btn,
                .btn:focus {
                    width: 100%;
                    color: #ffffff;
                    background-color: #fb8b24;
                    font-weight: bold;
                    border: none;
                    border-radius: 10px;
                }

                .btn:hover {
                    color: #ffffff;
                    background-color: #d97720;
                }

                .close {
                    color: #00ff00;
                    top: 20px;
                    right: 30px;
                    transition: all 200ms;
                    font-size: 30px;
                    font-weight: bold;
                    text-decoration: none;
                    position: absolute;
                }

                .close:hover {
                    color: #ff0000;
                }
            }

            /* .payment-qrcode {
                width: 100%;
                margin: 10px 0 0;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;

                img {
                    width: 20vw;
                    height: 20vw;
                    border-radius: 10px;
                    object-fit: cover;
                    object-position: center;
                }
            } */
        }
    }
}