body {
    margin: 0;
}

.user-booking-store-detail {
    width: 100%;
    background-color: #ffffff;
    font-family: 'Quicksand', 'Arial', sans-serif;

    .store-detail-container {
        width: 100%;
        padding: 40px;
        display: flex;
        justify-content: start;

            img {
                width: 40%;
                height: auto;
                box-shadow: 0 4px 6px #6666664d;
                border: 1px solid #cccccc;
                border-radius: 10px;
                object-fit: cover;
                object-position: center;
                display: block;
            }

        .store-detail {
            width: 70%;
            padding: 0 20px;

            p {
                margin: 0;
            }
        }
    }
}