body {
    margin: 0;
}

.user-booking-store {
    width: 100%;
    background-color: #ffffff;
    font-family: 'Quicksand', 'Arial', sans-serif;

    .search-container {
        width: 100%;
        background-color: #fafafa;
        position: sticky;
        top: 0;
        z-index: 1;

        .search {
            display: flex;
            align-items: center;
            padding: 20px 10px;

            .form-group {
                padding: 0 10px 0 0;

                .form-input {
                    width: 250px;
                }
            }

            .btn,
            .btn:focus {
                color: #ffffff;
                background-color: #fdbc7f;
                font-weight: bold;
                border: none;
                border-radius: 7px;
            }

            .btn:hover {
                color: #ffffff;
                background-color: #d97720;
            }
        }
    }

    .booking-store-container {
        z-index: 2;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;

        p {
            margin: 0;
        }

        .image-row {
            width: 100%;
            height: 100%;
            margin: 50px 0 0;
            /* max-width: 1500px; */
            /* height: 350px; */
            display: flex;
            justify-content: space-evenly;

            .image-col {
                display: flex;
                justify-content: center;

                .image-card {
                    width: 500px;
                    margin: 0 0 40px;
                    background-color: #ffffff;
                    border-radius: 20px;
                    box-shadow: 0 4px 6px #6666664d;
                    overflow: hidden;
                    align-items: center;
                    transition: all 0.3s ease;

                    img {
                        width: 500px;
                        height: 260px;
                        object-fit: cover;
                        object-position: center;
                        display: block;
                    }

                    .card-name-rating {
                        margin: 0 0 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        h3 {
                            margin: 0;
                        }
                    }

                    .card-info {
                        color: #666666;
                    }

                    a {
                        text-decoration: none;
                        display: flex;
                        justify-content: end;

                        .btn,
                        .btn:focus {
                            color: #ffffff;
                            background-color: #fb8b24;
                            font-weight: bold;
                            border: none;
                            border-radius: 7px;
                            text-decoration: none;
                        }

                        .btn:hover {
                            color: #ffffff;
                            background-color: #d97720;
                        }
                    }
                }

                .image-card:hover {
                    transform: scale(1.05);
                    box-shadow: 0 6px 12px #6666664d;
                }
            }
        }
    }
}