body {
    margin: 0;
}

.POD-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
    position: relative;
}

.POD-about {

    .video-container video {
        width: 100%;
        height: auto;
    }

    .slogan-container {
        width: 70%;
        padding: 15px;
        background-color: #dfdfdf;
        border-radius: 10px;
        text-align: center;
        position: absolute;
        top: 46vw;
    }

    .about-container {
        width: 80%;
        max-width: 1500px;
        margin: 160px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .introduction-container {
        width: 100%;
        margin: 0 0 40px;
        background-color: #f9f9f9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .introduction-solution {
        width: 60%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .introduction-solution h5 {
        width: 90%;
        text-align: center;
    }

    .introduction-solution img {
        width: 100%;
        margin: 20px;
        border-radius: 20px;
    }

    .introduction-convenient {
        width: 40%;
        padding: 20px;
    }

    .reason-container {
        width: 100%;
        height: 800px;
        margin: 0 0 40px;
        background-color: #f9f9f9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        overflow: hidden;
        display: flex;
    }

    .reason-container img {
        height: 100%;
        width: 50%;
        object-fit: cover;
        object-position: center;
        display: block;
    }

    .reason-item {
        height: 240px;
        background-color: #b5c1c1;
        border-radius: 10px;
        margin: 20px;
        padding: 15px;
    }

    .community-container {
        width: 100%;
        margin: 0 0 40px;
        background-color: #f9f9f9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        align-self: center;
    }

    .community-container img {
        width: 50%;
        object-fit: cover;
        object-position: center;
        display: block;
    }

    .community-text {
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ready-container {
        width: 100%;
        padding: 40px;
        background-color: #bdd4dd;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ready-text {
        width: 40%;
    }

    .booking-button {
        width: 30%;
        display: flex;
        justify-content: center;
    }

}