body {
    margin: 0;
}

.user-booking-detail {
    width: 100%;
    padding: 20px;
    margin: 0 0 100px;
    background-color: #ffffff;
    font-family: 'Quicksand', 'Arial', sans-serif;
    display: flex;
    justify-content: center;

    .booking-card {
        width: 80%;
        height: auto;
        padding: 0 20px;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border: 1px solid #cccccc;
        margin: 0 0 20px;
        overflow: hidden;

        p {
            margin: 0;
        }

        h4 {
            margin: 10px;
        }

        .booking-card-header {
            border-bottom: 1px solid #cccccc;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h4 {
                margin: 10px;
                padding: 5px 10px;
                border-radius: 5px;
            }

            .status-booking {
                display: flex;
                justify-content: center;
                align-items: center;

                #dropdown-basic-button {
                    background-color: #bbbbbb;
                    border: none;
                    font-weight: bold;
                }
            }
        }

        .booking-row {
            margin: 0;

            .booking-col {
                padding: 0;

                .booking-card-body {
                    background-color: #ffffff;
                    height: 240px;
                    transition: all 0.3s ease;
                    display: flex;

                    .card-image {
                        width: 40%;
                        padding: 10px;

                        img {
                            width: 100%;
                            height: 220px;
                            border-radius: 10px;
                            object-fit: cover;
                            object-position: center;
                            display: block;
                        }
                    }

                    .card-detail {
                        width: 75%;
                        padding: 10px;
                        display: flex;
                        justify-content: space-between;
                        overflow: hidden;

                        .card-information {
                            height: 100%;

                            .booking-id {
                                margin: 0 0 5px;
                            }
                        }
                    }
                }

                .bookingorder-card-body {
                    width: 100%;
                    background-color: #f8f8f8;
                    height: 140px;
                    transition: all 0.3s ease;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .card-detail {
                        width: 100%;
                        height: 140px;
                        padding: 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        overflow: hidden;

                        .card-information {
                            height: 100%;
                        }

                        .card-amount-method-datetime-status {
                            display: flex;
                            flex-direction: column;
                            justify-content: end;
                            text-align: right;

                            .card-amount {
                                text-align: right;
                            }

                            .card-method {
                                text-align: right;
                            }

                            .card-datetime-status {
                                text-align: right;

                                h4 {
                                    margin: 5px 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .booking-tabs {
            height: auto;

            .nav-link {
                color: #fb8b24;
            }

            .active {
                color: #fb8b24;
                font-weight: bold;
            }
        }

        .tab-content {
            border-bottom: 1px solid #cccccc;

            p {
                margin: 0 0 2px;
            }

            h1 {
                border-bottom: 1px solid #cccccc;
            }
        }

        .booking-tab {
            padding: 0 0 20px;
        }

        .slot-tab {
            padding: 0 0 20px;

            h4 {
                margin: 0 0 10px;
            }

            .slot-name {
                margin: 0;
                padding: 5px 0 0 5px;

                .col {
                    padding: 0 5px 5px 0;

                    .slot-card {
                        padding: 10px;
                        border: 1px solid #cccccc;
                        border-radius: 10px;
                    }
                }
            }
        }

        .order-tab {
            padding: 0 0 20px;
        }

        .user-tab {
            padding: 0 0 20px;
        }

        .payment-tab {
            padding: 0 0 20px;

            h4 {
                margin: 10px 0 0;
            }

            .booking-col {
                border-bottom: 1px solid #cccccc;
            }

            .card-amount-success {
                display: flex;
                flex-direction: column;
                align-items: end;
            }
        }

        .store-tab {
            padding: 0 0 20px;

            .store-card {
                width: 100%;
                text-shadow: 1px 1px 3px #ffffff;
                height: 400px;
                background-size: cover;
                background-position: center;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    filter: blur(2px);
                    object-fit: cover;
                    object-position: center;
                    display: block;
                }

                .store-card-body {
                    top: 20px;
                    left: 20px;
                    position: absolute;
                    z-index: 1;
                }
            }
        }

        .booking-card-footer {
            width: 100%;
            padding: 0;
            padding: 10px 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: end;

            .card-amount {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
            }

            .rating-form {
                display: flex;
                justify-content: space-between;
                align-items: end;

                .form-group {
                    margin: 5px 0 0;
                }

                .btn-feedback {
                    width: 100px;
                    margin: 0 10px;
                }
            }

            .btn,
            .btn:focus {
                color: #ffffff;
                background-color: #fb8b24;
                /* background-color: #e05a29; */
                font-weight: bold;
                border: none;
                border-radius: 7px;
                display: inline-block;
            }

            .btn:hover {
                color: #ffffff;
                background-color: #d97720;
                /* background-color: #ad3103; */
            }

            .rebook-button {
                width: 150px;
            }
        }
    }
}