.admin-pod-management-container{

.add-button{
    color: black;
    background-color: #9da5ac;
    border-color: #9ca1a7;
    
}

.pod-card{
    max-width: 30rem;
    height: auto;
    display: flex; /* Allows the card to expand with its content */
    flex-direction: column; /* Ensures content is stacked vertically */
    padding: 1rem; /* Adds space inside the card */
    margin: 1rem; /* Adds space outside the card */
    border: none;
}

.pod-img{
    height: 15rem;
    width: 10rem;
    object-fit: cover; /* Cắt ảnh để phù hợp với kích thước */
    object-position: center;
    display: block;
}

div.card-body{
    padding: 10px 0 0 0;
}
.card.pod-card{
    border: none;
}

.title-pod{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.pod-manage {
    margin: 15px 15px;
    font-family: "Poppins", sans-serif;

}
.admin-content-body{
    padding: 20px 20px;
    overflow-y: auto;
    margin: 20px 20px;
}

.one-button {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.one-pod{
    max-width: 100%;
    
}

}

@media (max-width: 768px) {
    .admin-pod-management-container{
        .pod-card{
            height: 20rem;
            max-width: 20rem;
        }
        .pod-img{
            height: 10rem;
            width: 10rem;
        }
    }
}