.admin-pod-container{

    max-width: 100%;
    margin: 20px;

    .title-pod {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .pod-button {
        background-color: transparent;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
    }
    form {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
     
    }
    label {
        display: block; 
        margin-bottom: 5px; 
        font-weight: bold; 
    }
    .admin-add-pod-button{
        margin-top: 10px;
        width: 100%;
    }


}


/* .admin-pod-container{

.add-button{
    color: black;
    background-color: #9da5ac;
    border-color: #9ca1a7;
    
}

.pod-card{
    max-width: 30rem;
    height: auto;
    display: flex; 
    flex-direction: column; 
    padding: 1rem; 
    margin: 1rem; 
    border: none;
}

.pod-img{
    height: 15rem;
    width: 10rem;
    object-fit: cover; 
    object-position: center;
    display: block;
}

div.card-body{
    padding: 10px 0 0 0;
}
.card.pod-card{
    border: none;
}

.title-pod{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pod-manage {
    margin: 15px 15px;
    font-family: "Poppins", sans-serif;
}
.admin-content-body{
    padding: 20px 20px;
    overflow-y: auto;
    margin: 20px 20px;
}

.one-button {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.one-pod{
    max-width: 100%;
    
}

}

@media (max-width: 768px) {
    .admin-pod-management-container{
        .pod-card{
            height: 20rem;
            max-width: 20rem;
        }
        .pod-img{
            height: 10rem;
            width: 10rem;
        }
    }
} */