body {
    margin: 0;
}

.POD-home {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand', 'Arial', sans-serif;
}

.POD-home img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
}

.POD-home {

    .booking-now {
        width: 100%;
        height: 880px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: url('../../BackgroundImage/home3.jpg') center no-repeat;
        background-size: cover;

        .booking-now-text {
            text-align: center;
            margin: 0 0 50px;

            h1 {
                font-size: 70px;
            }
        }

        .search {
            display: flex;

            .form-group {
                margin: 0 10px 0 0;
            }

            .btn,
            .btn:focus {
                color: #ffffff;
                background-color: #fb8b24;
                margin: 0 10px;
                font-weight: bold;
                border: none;
                border-radius: 7px;
            }

            .btn:hover {
                color: #ffffff;
                background-color: #d97720;
            }
        }
    }

    .shortcut-booking-store {
        margin: 40px 0;

        p {
            margin: 0;
        }

        h1 {
            text-align: center;
        }

        .image-row {
            width: 100%;
            margin: 50px 0 0;
            display: flex;
            justify-content: space-evenly;

            .image-col {
                display: flex;
                justify-content: center;

                .image-card {
                    width: 500px;
                    margin: 0 0 40px;
                    background-color: #ffffff;
                    border-radius: 20px;
                    box-shadow: 0 4px 6px #6666664d;
                    overflow: hidden;
                    align-items: center;
                    transition: all 0.3s ease;

                    img {
                        width: 500px;
                        height: 260px;
                        object-fit: cover;
                        object-position: center;
                        display: block;
                    }

                    .card-name-rating {
                        margin: 0 0 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        h3 {
                            margin: 0;
                        }
                    }

                    .card-info {
                        color: #666666;
                    }

                    a {
                        text-decoration: none;
                        display: flex;
                        justify-content: end;

                        .btn,
                        .btn:focus {
                            color: #ffffff;
                            background-color: #fb8b24;
                            font-weight: bold;
                            border: none;
                            border-radius: 7px;
                            text-decoration: none;
                        }

                        .btn:hover {
                            color: #ffffff;
                            background-color: #d97720;
                        }
                    }
                }

                .image-card:hover {
                    transform: scale(1.05);
                    box-shadow: 0 6px 12px #6666664d;
                }
            }
        }
    }

    .shortcut-contact {
        width: 100%;
        padding: 20px 0;
        margin: 0 0 50px;
        background-color: #fafafa;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin: 0;
        }

        .card-contact {
            margin: 20px 0;
            height: auto;
            background-color: #ffffff;
            border-radius: 15px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                width: 400px;
                height: auto;
                object-fit: cover;
                object-position: center;
                display: block;
            }

            .card-form {
                height: 100%;
                background-color: #ffffff;
                padding: 40px;
                text-align: center;
                transition: all 0.3s ease;

                .form-input {
                    margin: 10px 0 10px 40px;

                    .input {
                        background-color: 'transparent';
                        transition: all 0.3 ease;
                    }
                }

                .btn,
                .btn:focus {
                    width: 100px;
                    color: #ffffff;
                    background-color: #fb8b24;
                    font-weight: bold;
                    border: none;
                    border-radius: 7px;
                }

                .btn:hover {
                    color: #ffffff;
                    background-color: #d97720;
                }
            }
        }
    }

    .shortcut-why {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .carousel {
            position: relative;
            width: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 60vh;
                object-fit: cover;
                filter: brightness(40%);
            }
        }

        .carousel-item {
            transition: transform 0.5s ease;
        }



        .carousel-caption {

            padding: 10px;
            border-radius: 5px;
            position: absolute;

            width: 60%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            h3 {
                color: white;
                /* font-family: 'Courier New', Courier, monospace; */

            }

            p {
                color: white;
                margin: 0;
                /* font-family: 'Times New Roman', Times, serif; */
            }

        }

        .carousel-text {
            width: 50%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        span.carousel-control-prev,
        span.carousel-control-next {
            color: white;
            background-color: #ffffff;
        }

        .carousel-control-prev {
            left: 10px;

        }

        .carousel-control-next {
            right: 10px;
        }

        .carousel-item {
            padding: 20px;
        }
    }
}