.body {
    margin: 0;
}

.user-header-container {
    padding: 0.8rem;
    /* background-color: #e9e9e9; */
    background-color: #feecd9;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Quicksand', 'Arial', sans-serif;

    /* .search-bar {
        flex-grow: 1;
        position: relative;
    } */

    .dropdown {
        width: auto;
        min-width: 200px;
        position: relative;

        .user-avatar {
            width: 100%;
            background-color: transparent;
            border: none;
            display: flex;
            justify-content: end;
            align-items: center;

            img {
                width: 48px;
                height: 48px;
                border-radius: 50%;
            }

            .dropdown-menu {
                position: absolute;
                top: 100%;
            }

            .user-info {
                margin: 0 10px;
                text-align: end;

                .username {
                    font-weight: bold;
                }

                .role {
                    color: #6c757d;
                }
            }
        }
    }
}