.user-container {
  display: flex;
  min-height: 100vh;

  .user-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;

    .user-content-body {
      flex: 1;
      overflow-y: auto;
    }

    .user-content-body::-webkit-scrollbar {
      display: none;
    }
  }
}

.user-content-body {
  height: calc(100vh - [chiều cao của header và footer]);
  overflow-y: auto;
  scrollbar-width: 10px;
  scrollbar-color: #fdbc7f #fff7ee;
}

/* Tùy chỉnh thanh cuộn cho Chrome, Edge, và Safari */
.user-content-body::-webkit-scrollbar {
  width: 8px;
}

.user-content-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.user-content-body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.user-content-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}





.main-container{
  display: flex;
  min-height: 100vh; /* Đảm bảo container chiếm toàn bộ chiều cao viewport */
}

.main-content{
   flex: 1; /* Đảm bảo admin-content chiếm không gian còn lại */
   display: flex;
   flex-direction: column; /* Để nội dung bên trong có thể xếp chồng lên nhau */
   height:100vh;
}

.main-content-body{
   padding: 20px;
   flex: 1; /* Để nội dung bên trong có thể mở rộng */
   overflow-y: auto; /* Thêm thanh cuộn cho nội dung */
}





.admin-container {
  display: flex;
  min-height: 100vh;
  /* Đảm bảo container chiếm toàn bộ chiều cao viewport */
}

.admin-content {
  flex: 1;
  /* Đảm bảo admin-content chiếm không gian còn lại */
  display: flex;
  flex-direction: column;
  /* Để nội dung bên trong có thể xếp chồng lên nhau */
  height: 100vh;
}

.admin-content-body {
  flex: 1;
  /* Để nội dung bên trong có thể mở rộng */
  overflow-y: auto;

}

/* Ẩn thanh cuộn */
.admin-content-body::-webkit-scrollbar {
  display: none;
}

.add-link {
  background-color: #f4e4e4;
  /* Bootstrap primary color */
  color: rgb(0, 0, 0);
  /* Text color */
  border: none;
  /* No border */
  padding: 10px 20px;
  /* Padding for the button */
  border-radius: 5px;
  /* Rounded corners */
  text-decoration: none;
  /* Remove underline from link */
  display: inline-block;
  /* Align properly */
  transition: background-color 0.3s;
  /* Smooth transition */
  width: 100%;
  margin-top: 10px;
}

.add {
  width: 100%;
  background-color: rgb(42, 136, 225);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}