.user-container {
  display: flex;
  min-height: 100vh;

  .user-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;

    .user-content-body {
      flex: 1;
      overflow-y: auto;
    }

    .user-content-body::-webkit-scrollbar {
      display: none;
    }
  }
}

/* .add-link {
  width: 100%;
  background-color: #f4e4e4;
  color: #000000;
  padding: 10px 20px;
  margin: 10px 0 0;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s;
}

.add {
  width: 100%;
  background-color: rgb(42, 136, 225);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
} */

/* Thêm thanh cuộn cho component có class 'user-content-body' */
.user-content-body {
  height: calc(100vh - [chiều cao của header và footer]);
  overflow-y: auto;
  scrollbar-width: 10px;
  scrollbar-color: #fdbc7f #fff7ee;
}

/* Tùy chỉnh thanh cuộn cho Chrome, Edge, và Safari */
.user-content-body::-webkit-scrollbar {
  width: 8px;
}

.user-content-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.user-content-body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.user-content-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}