.user-container {
  display: flex;
  min-height: 100vh;
}

.user-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.user-content-body {
  flex: 1;
  overflow-y: auto;
}

.user-content-body::-webkit-scrollbar {
  display: none;
}

.add-link {
  width: 100%;
  background-color: #f4e4e4;
  color: #000000;
  padding: 10px 20px;
  margin: 10px 0 0;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s;
}

.add {
  width: 100%;
  background-color: rgb(42, 136, 225);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}