body {
    margin: 0;
}

.japanese-verb-container {
    width: 100%;
    min-height: 80vh;
    margin: 30px 0 100px;
    text-align: center;
    font-family: 'Quicksand', Arial, sans-serif;

    .japanese-verb-header {
        h2 {
            margin: 0 0 20px;
            color: #fd73a7;
            font-size: 54px;
        }
    }

    .japanese-content {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;

        .japanese-row {
            width: 100%;
            max-width: 1500px;

            .japanese-col {
                display: flex;
                justify-content: center;
                align-items: start;

                .grid-card {
                    width: 250px;
                    margin: 0 0 20px;
                    background-color: #ffeeee;
                    border: 2px solid #c00050;
                    border-radius: 20px;
                    overflow: hidden;
                    align-items: center;
                    text-align: center;
                    transition: all 0.3s ease;
                    box-shadow: 0px 0px 5px #f99dbc50;

                    .card-body {
                        padding: 0;

                        h1 {
                            margin: 8px 0;
                            font-size: 144px;
                        }

                        h3 {
                            margin: 8px 0;
                        }

                        p {
                            margin: 0;
                        }
                    }
                }

                .grid-card:hover {
                    transform: translateY(-10px);
                    box-shadow: 0px 5px 10px #f99dbc80;
                }
            }
        }
    }
}