/* Header.css */
.staff-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  background-color: #f4f4f4;
  /* Màu nền tương ứng với bg-light */
  flex-wrap: wrap;
  /* Hỗ trợ responsive */

  .search-bar {
    flex-grow: 1;
    position: relative;
    /* Đặt vị trí tương đối cho div chứa thanh tìm kiếm */
    margin: 1rem;
  }

  .admin-avatar {
    margin-right: 1.2rem;
    /* Khoảng cách bên phải */

  }

  .admin-avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* Hình tròn */
    margin-right: 1.5rem;
    /* Khoảng cách bên phải */

  }

  .user-info {
    display: flex;
    flex-direction: column; /* Đặt chiều dọc cho các phần tử con */
    align-items: flex-start; /* Căn trái các phần tử con */
  }
  
  .user-info .username {
    font-weight: bold;
    /* Tên người dùng đậm */
  }
  
  .user-info .role {
    color: #6c757d;
    /* Màu cho chức vụ */
  }

  .inno {
    margin-right: 30rem;
    font-weight: bold;
    font-size: 47px;
    background: linear-gradient(90deg, #746C6B, #C49A68, #FFD66D);
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientText 3s infinite;
  }
}

@keyframes gradientText {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 100%;
  }
}